* {

    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;

}

video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    opacity: 0.5;
   
}

.caixa-master {
    margin: auto;
    max-width: 90vw;
    min-height: 90vh;
    border-radius: 20px;
    background-image: url(./img/programador.jpg);
    background-size: cover;
    box-shadow: 0 10px 30px #000000;
}

.header {
    display: flex;
    margin-top: 50px;
    gap: 5px;
    justify-content: left;
    min-height: 50px;

}

.buttons-header {
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #e9e9e90a;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.425);
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 300;
    color: #80ddff;
    background-color: rgba(255, 255, 255, 0.077);
    font-size: 10px;
    transition: .2s ease-out;
    height: 25px;
}

.buttons-header:hover {
    border: 1px solid #80ddff;
    transition: .3s ease-in;
    box-shadow: 0 0 10px turquoise;


}

.titulo {
    margin-top: 0px;
}

img {
    width: 500px;
}

h1 {
    margin: 40px 0 0 20px;
    font-weight: 100;
    color: white;
    font-size: 20px;
}

span {
    color: #ff9800;
    font-weight: 500;
    font-size: 40px;
}

p {
    font-weight: 100;
    font-size: 15px;
    color: #ffffff;
    margin: 20px 0 0 20px;
}

.caixa-h3 {
    display: flex;
    border: 1px solid #80ddff;
    border-radius: 10px;
    width: 200px;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 0;

}

h3 {
    padding: 10px;
    color: #ff9800;
    font-weight: 300;
}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.buttons-footer {
    margin-top: 10px;
    background-color: #e9e9e90a;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.425);
    padding: 5px;
    width: 150px;
    height: 25px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 300;
    color: #80ddff;
    background-color: rgba(255, 255, 255, 0.077);
    font-size: 10px;
    transition: .2s ease-out;

}

.buttons-footer:hover {
    border: 1px solid #80ddff;
    transition: .3s ease-in;
    box-shadow: 0 0 10px turquoise;

}

.redes{
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 50px;
    margin: 30px auto 10px auto;

}

a:hover{
    cursor: pointer;
  
}

img{
    width: 40px;
}

/* início de sobre */


.caixa-sobre{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.sobre{
    color: #ff9800;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 30px;
}

.contorno-paragrafo{
    border: 1px solid #80ddff;
    border-radius: 20px;
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 20px; 
    background-color: #263830; 
    
      
}

.paragrafo-sobre{
    font-size: 20px;
}

/* edicao projetos */

.meusprojetos{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

.caixa-projetos{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.textoprojetos{
    color: #ff9800;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 30px;
}

/* edicao competencias */

.caixa-competencia{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.textocompetencia{
    color: #ff9800;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 30px;
}

